{% block content %}

<form action="{% url 'hi'%}"  method="post">
 {% csrf_token %}
    
	<p><label for="date">First Name</label><input type="text" name="first_name" required value=""></p>
	<p><label for="date">Last Name</label><input type="text" name="last_name" required value=""></p>
	<p><label for="date">Description</label><input type="text" name="description" required value=""></p>
	<p><label for="date">Email</label><input type="email" name="email" required value=""></p>
   <input type="submit" value="OK">
</form>
<strong>{{ conatctname }}</strong>
{% endblock %}